/* Set ALL HTML elements with border-box sizing */
* {
  box-sizing: border-box;
}

/* font declarations */
body {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif
}

.name {
  font-size: 500%;
  letter-spacing: 15px;
  margin: 5px;
  padding: 5px;
}

.thinkful-link {
  font-weight: bold;
  color: #ffffff;
}

/* Sizing */
body {
  background-color: #fcfcfc;
}

article, h2, h3 {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

img {
  border-radius: 50%;
}

/* Anchor Pseudo-classes */
/* unvisited link */
a:link {
  color: #0000FF;
}

/* visited link */
a:visited {
  color: #77009c;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #FF0000;
}







